body{background-color: rgb(255, 255, 255);}

.container{
    position: absolute;
    z-index: 1;
    le
    text-align: center;
}

img{
    width: 100%;
    object-fit: cover;
    position: relative;
}